.details {
    display: flex;
    flex-direction: row;
    color: rgb(228, 228, 228);
}

.poster {
    max-width: 350px;
    height: auto;
    margin-left: 3.5rem;
    margin-bottom: 3rem;
}

.info {
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    margin-right: 5rem;
}

.info_title_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
    color: white;
    padding: 0rem;
    margin: 0rem;
}

.details_short {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgb(129, 129, 129);
    width: 8rem;
    font-size: 0.9rem;
    position: relative;
    bottom: 2rem;
}

.rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10rem;
    font-size: 1.4rem;
    padding-top: 0.85rem;
    font-weight: 600;
}

.rating_star {
    color: yellow;
    font-variation-settings: 'FILL' 1;
    margin-left: 0.5rem;
}

.info_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.9rem;
}

.info_row p:first-child {
    color: rgb(129, 129, 129);
    width: 5rem;
}

.details_overview_title {
    font-weight: 800;
    color: white;
    font-size: 1.1rem;
}

.details_overview {
    font-size: 0.9rem;
}

.info_element {
    margin-left: 1rem;
}